body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

.header{
background:#e60023;
color:white;
padding:15px 30px;
display:flex;
justify-content:space-between;
}

/* TITLE */

.result-title{
text-align:center;
margin-top:20px;
}

/* SCORE */

.score-box{

width:420px;
margin:20px auto;


padding:20px;

border-radius:8px;

display:flex;
justify-content:space-between;


}

.score span{
color:#e60023;
font-weight:bold;
}


.time span{
color:#4CAF50;
font-weight:bold;
}


/* MAIN RESULT */

.result-container{

display:flex;

width:1100px;

margin:30px auto;

gap:40px;

}


/* LEFT */

.result-left{
width:200px;
}

.question-grid{

display:grid;

grid-template-columns:repeat(3,50px);

gap:10px;

}

.qbox{

border:1px solid #ccc;

padding:10px;

text-align:center;

cursor:pointer;

border-radius:6px;

}

.qbox.correct{
background:#4CAF50;
color:white;
}

.qbox.wrong{
background:#f44336;
color:white;
}


/* RIGHT */

.result-right{
flex:1;
}

.question{

background:white;

padding:20px;

border-radius:8px;

}

.option{

display:block;

padding:10px;

border:1px solid #ddd;

border-radius:6px;

margin-bottom:10px;

}

.option.correct{
background:#d4edda;
}

.option.wrong{
background:#f8d7da;
}


/* NOTE */

.answer-note{
margin-top:10px;
font-weight:bold;
}

.answer-note.correct{
color:green;
}

.answer-note.wrong{
color:red;
}


/* AI BOX */

.ai-box{

width:1100px;

margin:30px auto;

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 2px 5px rgba(0,0,0,0.1);

}

.ai-box h2{
color:#e60023;
}

.learning-path{

background:#f9f9f9;

padding:15px;

border-radius:6px;

margin-top:10px;

}


/* BUTTON */

.continue-btn{

margin-top:20px;

background:#e60023;

color:white;

border:none;

padding:12px 20px;

border-radius:6px;

cursor:pointer;

font-size:16px;

}

.continue-btn:hover{
background:#c4001d;
}