<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ALAS</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
  </head>

  <body>
    <div class="container">
      <div class="left">
        <div class="header-content">
          <img src="{{ url_for('static', path='img/logoPTIT.png') }}" alt="logoPTIT" />
          <h2>Welcome to PTIT</h2>
          <p>Sign in to your account</p>
        </div>
        
        <form action="/login" method="POST">
          <div class="input-group">
            <input type="text" name="username" placeholder="Username" required />
          </div>
          
          <div class="input-group">
            <input type="password" name="password" placeholder="Password" required />
          </div>

          <button type="submit" class="btn-login">Log in</button>
        </form>
        
        <p class="login-link">
          Don't have an account? <a href="/register">Register a new account</a>
        </p>
      </div>

      <div class="right">
        <img src="{{ url_for('static', path='img/login.png') }}" alt="education" />
      </div>
    </div>
  </body>
</html>